body{
    background-image: url(./img/background_image.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* background-color: hsla(0, 0%, 0%, 0.1); */
}
.container{
    background-color:rgba(0, 0, 0, 0.50);
    margin: 15px;
    padding: 5px;
}
.header{
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.header span{
    color: red;
}
.baslik{
    font-size: 40px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 3px;
    margin-top: -1px;
}
.header p{
    margin-top: -30px;
}
.form{
    width: 20rem;
    margin: auto;
    padding: 2rem;
    background-color:rgba(0, 0, 0, 0.75);
}
#name, #age, #email{
    margin: 10px 0px;
    width: 20rem;
    height: 2rem;
}
div{
    font-size: small;
}
#content{
    width: 19.5rem;
    margin: 10px 0px;
    height: 1.7rem;
}
#comedy, #action, #romance{
    margin-left: -1px;
}
#male, #female, #other{
    margin-left: -1px;
}
#feedback{
    margin-top: 6px;
}
#submit{
    margin-left: 80px;
    margin-top: 15px;
    padding: 8px;
    background-color: red;
    border-radius: 18px;
    color: white;
    width: 7rem;
}
#method{
    margin-top: -10px;
}